version: "3.9"

services:
  # -------------------------------
  # API Server
  # -------------------------------
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 4
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  # -------------------------------
  # Celery Worker
  # -------------------------------
  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  # -------------------------------
  # Celery Beat API call Scheduler
  # -------------------------------
  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  # -------------------------------
  # PostgreSQL Database
  # -------------------------------
  db:
    image: postgres:16
    container_name: trend_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432"

  # -------------------------------
  # Redis (Celery broker + backend)
  # -------------------------------
  redis:
    image: redis:7
    container_name: trend_redis
    restart: always
    ports:
      - "6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
